.hero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.tagline{
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    margin: 0 20px;
}

.description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: darkgray;
    margin: 0 30px;
}

.hero-image img{
    display: block;
    width: 80%;
    max-width: 515px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    filter: drop-shadow(10px 15px 20px rgba(0, 0, 0, 0.35));
}

span{
    color: blue;
}

.black{
    color: black;
}

@media (max-width: 480px) {
    .tagline{
        font-size: 50px;
        margin: 0 20px;
    }

    .description{
        font-size: 12px;
        margin: 0 20px;
    }

    .hero-image img{
        display: block;
        width: 80%;
        max-width: 350px;
        height: auto;
        object-fit: contain;
        margin: 0 auto;
        filter: drop-shadow(10px 15px 20px rgba(0, 0, 0, 0.35));
    }
}

.typing-line {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s ease-out forwards;
}

.typing-line:nth-of-type(2) {
    animation-delay: 1.5s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

